<h4>Internal server error</h4>
<h5>Refreshing the page will make the error disappear</h5>
<ng-container *ngIf="error">
  <h5 class="text-danger">Error: {{error.message}} </h5>
  <p class="font-weight-bold">Note: If you are seeing this, Angular is probably not to bame</p>
  <p>What to do next?</p>
  <ol>
    <li>Open the chrome dev tols</li>
    <li>Inspect the network tab</li>
    <li>Check the failing request</li>
    <li>Examiate the request URL & make sure it's correct</li>
    <li>Reproduce the error in postman - if you see the same response, the issue is not with angular</li>
  </ol>
  <p>Following this is the stack trace - this is where your investigation should start</p>
  <code class="mt-5" style="background-color: whitesmoke;"> {{error.details}} </code>
</ng-container>
